@import "tailwindcss";

@theme {
  --spacing-gutter: 16rem;
}

@layer base {
  h1,
  h2 {
    font-weight: var(--font-weight-bold);
  }
  h1 {
    font-size: var(--text-3xl);
  }

  h2 {
    font-size: var(--text-2xl);
  }
}
