---
import PageContainer from "../components/PageContainer.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <PageContainer>
    <div class="flex justify-center pt-4">
      <img
        src="/alternating-current-2025/loop-logo-animated.gif"
        class="max-h-[700px]"
      />
    </div>
    <p class="mt-8 py-4 text-center">
      <a
        href="https://ra.co/events/2092497"
        class="underline uppercase font-bold bg-[#E5AD35] p-2"
        target="_blank"
      >
        Tickets
      </a>
    </p>
  </PageContainer>
</Layout>
