---
import PageContainer from "../components/PageContainer.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <PageContainer>
    <div class="flex justify-center">
      <img
        src="/ac-2025-website/loop-logo-animated.gif"
        class="max-h-[700px]"
      />
    </div>
    <p class="py-4">
      <strong>Alternating Current 2025</strong> will carry the theme <em
        >'Urban Scores’</em
      >. Drawing from the writing of Elena Biserna, this Alternating Current
      aims to provoke sonic works which can both score the city and be scored by
      it. This year’s programme of artists will use live performances,
      broadcasts, workshops and artistic interventions to interpret Dublin City,
      and cities more generally, through a sonic prism.
    </p>

    <p class="pb-4">
      From 1st - 4th May 2025, Alternating Current will take place across
      multiple venues for the first time. On Friday the festival will open at
      Pepper Canister Church, with live performances continuing at The Complex
      on Saturday and Sunday. Opening on the 1st May will be a free to public
      programme of broadcasts, workshops and artistic interventions at Flux
      Studios & Gallery.
    </p>

    <p class="pb-4">
      Our weekend ticket grants admission to the Friday, Saturday and Sunday
      programme of live performances, where Irish and Irish-based musicians will
      be presenting their experimental approaches to our theme. In 2025,
      Alternating Current hopes to continue to support Ireland’s cultural
      grassroots and DIY sound culture.
    </p>
  </PageContainer>
</Layout>
