---
import { marked } from "marked";

import Layout from "../layouts/Layout.astro";
import { artistListSchema } from "../api";

const artists = await fetch(`${import.meta.env.API_SERVER}/api/artists`)
  .then((response) => response.json())
  .then((response) => artistListSchema.parse(response.data));
---

<Layout>
  <main class="px-gutter">
    <h1 class="font-bold">Line-Up</h1>
    {
      artists.map((artist) => (
        <>
          <h2>{artist.name}</h2>
          <div set:html={marked.parse(artist.description)} />
        </>
      ))
    }
  </main>
</Layout>
