---
import Link from "./Link.astro";

interface Props {
  day: string;
}

const { day } = Astro.props;
---

<div class="flex justify-between">
  <div class:list={[ { "font-bold": day === "may-1" }]}>
    <Link href="/schedule/may-1"> Thu, May 1</Link>
  </div>
  <div class:list={[ { "font-bold": day === "may-2" }]}>
    <Link href="/schedule/may-2"> Fri, May 2</Link>
  </div>
  <div class:list={[ { "font-bold": day === "may-3" }]}>
    <Link href="/schedule/may-3"> Sat, May 3</Link>
  </div>
  <div class:list={["underline", { "font-bold": day === "may-4" }]}>
  <div class:list={[ { "font-bold": day === "may-4" }]}>
    <Link href="/schedule/may-4"> Sun, May 4</Link>
  </div>
</div>
