---
import { pathnameToRoute } from "../utils";
import Link from "./Link.astro";

const routes = [
  {
    href: "/",
    text: "Home",
  },
  // {
  //   href: "https://ra.co/events/2092497",
  //   text: "Tickets",
  //   target: "_blank",
  // },
  {
    href: "/line-up",
    text: "Line-Up",
  },
  {
    href: "/schedule",
    text: "Schedule",
  },
  {
    href: "/info",
    text: "Info",
  },
];
---

<nav class="px-4 lg:px-64 py-4">
  <ul class="flex">
    {
      routes.map((route) => (
        <li class="me-4">
          <Link
            href={route.href}
            class:list={[
              "lowercase",
              {
                "font-bold decoration-double decoration-[#E5AD35] underline underline-offset-4":
                  pathnameToRoute(Astro.url.pathname) === route.href,
              },
            ]}
          >
            {route.text}
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
