---
import Link from "./Link.astro";

const routes = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/line-up",
    text: "Line-Up",
  },
  {
    href: "/schedule",
    text: "Schedule",
  },
];
---

<nav>
  <ul class="flex">
    {
      routes.map((route) => (
        <li class="me-8">
          <Link href={route.href}>{route.text}</Link>
        </li>
      ))
    }
  </ul>
</nav>
