---
import Link from "./Link.astro";

const routes = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/line-up",
    text: "Line-Up",
  },
  {
    href: "/schedule",
    text: "Schedule",
  },
];
---

<nav class="px-4 lg:px-64">
  <ul class="flex">
    {
      routes.map((route) => (
        <li class="me-8">
          <Link
            href={route.href}
            class:list={[
              "underline",
              {
                "font-bold":
                  Astro.url.pathname.replace(import.meta.env.BASE_URL, "") ===
                  route.href,
              },
            ]}
          >
            {route.text}
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
