<dialog id="dialog">
  <form method="dialog">
    <div class="container">
      <img id="dialog-image" class="artist_img" />
      <h1 id="dialog-name"></h1>
      <div id="dialog-description" class="text"></div>
    </div>
  </form>
</dialog>
