---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import { pathnameToRoute, responsiveContainerClassname } from "../utils";

const description =
  "Alternating Current 2025 carries the theme ‘Urban Scores’. Drawn from Elena Biserna’s writing, the theme seeks to provoke responses which both score the city and use the city as their score. 2025’s programme takes a multi-venue approach. Performances will take place at Pepper Canister Church & The Complex, Depot. Interventions and broadcasts will take place at Flux Studios & Gallery.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <title>Alternating Current 2025</title>

    <!-- HTML Meta Tags -->
    <meta name="description" content={description} />

    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://listen.dublindigitalradio.com/alternating-current-2025"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Alternating Current 2025" />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dhikr416c/image/upload/v1738602644/Blue_comp_77e2b4a7e4.png"
    />
  </head>
  <body class="flex flex-col">
    <Nav />
    <div class="flex-grow">
      <slot />
      {
        pathnameToRoute(Astro.url.pathname) !== "/" ? (
          <div class="fixed bottom-16 right-0 pr-4 lg:pr-80 bg-[#E5AD35] p-2">
            <a
              href="https://ra.co/events/2092497"
              class="underline uppercase font-bold  "
              target="_blank"
            >
              Tickets
            </a>
          </div>
        ) : null
      }
    </div>
    <footer class:list={["mt-16 py-4 text-sm", responsiveContainerClassname]}>
      <div class="flex flex-row space-x-4 mb-8">
        <div class="h-8">
          <img
            src="https://ac-2025-cms.fly.dev/uploads/complex_logo_973e97045b.png"
            alt=""
            class="h-full"
          />
        </div>
        <div class="h-8">
          <img
            src="https://ac-2025-cms.fly.dev/uploads/flux_logo_dc313b23c1.png"
            alt=""
            class="h-full"
          />
        </div>
        <div class="h-8">
          <img
            src="https://ac-2025-cms.fly.dev/uploads/arts_council_logo_68ff62f1be.png"
            alt=""
            class="h-full"
          />
        </div>
      </div>
      <p>Production and curation by Aiden Brady and Alba Molina</p>
      <p>Artwork by Irene Mansoldo</p>
      <p>Website by Tewson Seeoun and Aiden Brady</p>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #009ee1;
  }
</style>
